*{
    margin: 2px 2px;
    

}

.navbar {
  font-size: 2rem; /* Adjust the font size as needed */
}

.navbar-brand img {
  width: 80px; /* Adjust the width as needed */
  height: 70px; /* Adjust the height as needed */
}

.navbar-nav .nav-link {
  font-size: 1rem; /* Adjust the font size as needed */
}

.navbar-collapse {
  font-size: 1rem; /* Adjust the font size as needed */
}

.form-control {
  font-size: 1rem; /* Adjust the font size as needed */
}


.btn-outline-success {
  font-size: 1rem; /* Adjust the font size as needed */
}

.profile-container {
    display: flex;
    justify-content: space-around;

  }

  .profile-photo {
    text-align: center;
  }

  .profile-details {
    padding: 20px;
  }

  .profile-details p {
    margin-bottom: 15px;
  }